 .totals {
     display: flex;
     flex-wrap: wrap;
     margin: 20px 5px 0 10px;
 }

 .totalContainer {
     flex-basis: 0;
     flex-grow: 1;
     max-width: 100%;
     margin-bottom: 1.5rem !important;
     position: relative;
     width: 100%;
     min-height: 1px;
     min-height: 8.7rem;
     padding-left: 10px;
     padding-right: 10px;
 }

 .total {
     min-height: 8.7rem;
     box-shadow: 0 2px 0 rgba(90, 97, 105, .11), 0 4px 8px rgba(90, 97, 105, .12), 0 10px 10px rgba(90, 97, 105, .06), 0 7px 70px rgba(90, 97, 105, .1);
     border-radius: .625rem;
     padding-top: 40px;
     color: #3d5170;
     background: #fff;
 }

 .totals .totalSum {
     margin: 0;
     font-size: 2.0625rem;
     font-weight: 500;
 }